
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');



:root {
    --cor01: #BF6986;
    --cor02: #fef1f5;
    --cor03: #1B170C;

    --font: "Poppins", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor02);
    font-family: var(--font);
}

section {
    padding: 28px 10px;
}


header {
    width: 100%;
    padding: 28px 10px;
    position: sticky;
    top: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.238);
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2em;
}

#nav-logo {
    color: var(--cor01);
    font-size: 24px;
    margin-left: 10px;
}

#nav-list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav_item  a {
    text-decoration: none;
    color: var(--cor03);
    font-weight: 600;
}

.nav_item a:active {
    border-bottom: 2px solid var(--cor01);
}

.btn_default {
    border: none;
    display: flex;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
    background-color: var(--cor01);
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color .3s ease;
} 
   
.btn_default:hover {
    background-color: #ce7190;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
}

main {
    margin-top: 20px;
}

#home {
    display: flex;
    min-height: calc(100vh - 128px);
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 0 5%;
    
}
#cta {
    width: 35%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5%;
    font-family: var(--font);
}

#cta h1 {
    font-weight: 600;
}
#cta p {
    margin: 10px;
}

#banner {
    width: 40%;
    text-align: end;
}

#banner img {
  width: 400px;      
  height: 500px;     
  object-fit: cover; 
  object-position: right;
  border-radius: 30% 5%;
}